@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin:0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}


.container {
    width:80%;
    margin: 0 auto;
}

